#navbar {
    display: block;
    text-align: center;
}

nav {
    flex-direction: column;
}

#showcase .img .item {
    display: none;
}

.light , .dark {
    font-size: 45px;
    padding: 0 20px;
}

.large {
    text-align: center;
    font-size: 1.1em;
    padding: 0 20px;
}

p {
    margin-top: 2rem;
}

.extra .box .items {
    display: block;
}